<script>
import {
  // ok: okay-button-vue-component
  GlButton,
} from 'not-gitlab-ui';
import {
  // ruleid: okay-button-vue-component
  GlButton
} from '@gitlab/ui';

export default {
  components: {
    GlButton
  },
  computed: {
    classes() {
      return [
        // ruleid: button-class-vue
        'gl-button',
        // ruleid: button-deprecated-variant
        'btn-info',
        // ruleid: button-deprecated-variant
        'btn-warning',
        // ruleid: button-deprecated-variant
        'btn-success',
      ]
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: button-class-vue -->
    <gl-button>
      I am a good button
    <!-- ok: button-class-vue -->
    </gl-button>

    <!-- ok: button-element-vue -->
    <button>
      I am probably an okay button
    </button>

    <!-- ok: button-element-vue -->
    <button class="emoji-menu-btn text-center js-emoji-btn" type="button"></button>

    <!-- ruleid: button-deprecated-variant-vue -->
    <gl-button variant="success">I have a deprecated variant</gl-button>
    <!-- ruleid: button-deprecated-variant-vue -->
    <gl-button variant="info">I have a deprecated variant</gl-button>
    <!-- ruleid: button-deprecated-variant-vue -->
    <gl-button variant="warning">I have a deprecated variant</gl-button>

    <!-- ruleid: button-element-vue, button-class-vue -->
    <button class="gl-button">
      I am a bad button
    </button>

    <!-- ruleid: button-element-vue -->
    <button class="btn">
      I am a bad button
    </button>

    <!-- ok: button-class-vue -->
    <gl-icon class="gl-button-icon" name="slight-smile" />

    <!-- Ignore buttons that should be covered by dropdown rules. -->
    <!-- ok: button-class-vue -->
    <a class="js-sidebar-dropdown-toggle edit-link btn gl-text-gray-900! gl-ml-auto hide-collapsed btn-default btn-sm gl-button btn-default-tertiary float-right" href="#">
      {{ __('Edit') }}
    </a>
  </div>
</template>
