-# ruleid: broadcast-message-class-haml
.gl-broadcast-message.broadcast-banner-message{ role: "alert", class: "js-broadcast-notification-#{message.id} #{message.theme}" }

-# ruleid: broadcast-message-class-haml
.broadcast-message.broadcast-notification-message.mt-2{ role: "alert", class: notification_class }

-# ruleid: okay-broadcast-message-view-component-haml
= render Pajamas::BroadcastMessage.new
