<script>
// ruleid: okay-form-textarea-vue-component
import { GlFormTextarea } from '@gitlab/ui';

// ok: form-textarea-native-vue
// <textarea>

export default {
  components: {
    GlFormTextarea,
  },
  computed: {
    /**
     * ok: form-textarea-native-vue
     * <textarea>
     */
    classes() {
      // ruleid: form-textarea-class-vue
      return ['some-classname', 'gl-form-textarea', 'foobar'];
    },
  },
};
</script>
<template>
  <div>
    <!-- ok: form-textarea-class-vue -->
    <gl-form-textarea>
      I am a good textarea
    </gl-form-textarea>

    <!-- ruleid: form-textarea-class-vue -->
    <div class="gl-form-textarea">
      This class should not be used outside the GlFormTextarea component
    </div>

    <!-- ruleid: form-textarea-native-vue -->
    <textarea>
      I am a native textarea
    </textarea>
  </div>
</template>
