-# ruleid: custom-sorting-haml-rb
= sort_direction_button(@sort)
-# ruleid: custom-sorting-haml-rb
= issuable_sort_direction_button(@sort)
-# ruleid: custom-sorting-haml-rb
= wiki_sort_controls(@wiki, params[:sort], params[:direction])
