<script>
import {
  // ruleid: okay-table-vue-component
  GlTable,
  // ruleid: okay-table-vue-component
  GlTableLite,
} from '@gitlab/ui';

export default {
  components: {
    GlTable,
  },
};
</script>

<template>
  <div>
    <!-- ok: table-tag-vue -->
    <gl-table>
      <tr>
        <td>Good table</td>
      </tr>
    </gl-table>

    <!-- ruleid: table-tag-vue -->
    <table>
      <tr>
        <td>Bad table</td>
      </tr>
    </table>
  </div>
</template>
