-# ruleid: accordion-data-toggle-collapse-haml
%button{ data: { toggle: 'collapse', target: "#foo" } }
-# ruleid: accordion-data-toggle-collapse-haml
%button{ data: { toggle: "collapse", target: "#foo" } }
-# ruleid: accordion-data-toggle-collapse-haml
%button{ data: { toggle: :collapse, target: "#foo" } }

%button{ type: 'button',
    data: { foo: 'bar',
        -# ruleid: accordion-data-toggle-collapse-haml
        toggle: :collapse,
        target: "#project-errors-#{project_registry.project_id}" } }
  = More
