<template>
  <gl-form-group label="Group by" label-for="group-by-listbox">
    <!--
      GlCollapsibleListbox requires client-only.
      See https://gitlab.com/gitlab-org/gitlab-ui/-/issues/1933.
    -->
    <client-only>
      <gl-collapsible-listbox
        id="group-by-listbox"
        :selected="value"
        :items="$options.groupByOptions"
        @select="$emit('input', $event)"
      />
    </client-only>
  </gl-form-group>
</template>

<script>
import GlFormGroup from '@gitlab/ui/src/components/base/form/form_group/form_group.vue';

/**
 * NOTE: The values here correspond to URL search parameters. Do no change
 * them, otherwise stored links to grouped findings will break.
 */
export const GROUP_BY_COMPONENT = 'component';
export const GROUP_BY_SEVERITY = 'severity';
export const GROUP_BY_FILE_TYPE = 'file-type';
export const GROUP_BY_PAJAMAS_COMPLIANCE = 'pajamas-compliance';
export const GROUP_BY_GROUP = 'group';
export const GROUP_BY_MIGRATION_GUIDE = 'migration-guide';
export const GROUP_BY_NOTHING = 'nothing';

export const groupByOptions = [
  {
    value: GROUP_BY_COMPONENT,
    text: 'Component',
  },
  {
    value: GROUP_BY_SEVERITY,
    text: 'Severity',
  },
  {
    value: GROUP_BY_FILE_TYPE,
    text: 'File type',
  },
  {
    value: GROUP_BY_PAJAMAS_COMPLIANCE,
    text: 'Pajamas adoption',
  },
  {
    value: GROUP_BY_GROUP,
    text: 'Group (team)',
  },
  {
    value: GROUP_BY_MIGRATION_GUIDE,
    text: 'Migration guide',
  },
  {
    value: GROUP_BY_NOTHING,
    text: 'Nothing',
  },
];

export default {
  name: 'GroupBy',
  components: {
    GlFormGroup,

    // The GlOutsideDirective used by GlCollapsibleListbox has an import-time dependency
    // on `window`, so work around that with a dynamic import.
    // See https://gitlab.com/gitlab-org/gitlab-ui/-/issues/1900.
    GlCollapsibleListbox: () =>
      import('@gitlab/ui/src/components/base/new_dropdowns/listbox/listbox.vue'),
  },
  props: {
    value: {
      type: String,
      required: true,
    },
  },
  groupByOptions,
};
</script>
