<template>
  <gl-alert title="Failed to load scan data" :dismissible="false" variant="danger">
    <p class="gl-mb-0">Error messages:</p>

    <ul class="gl-mb-0">
      <li v-for="(error, index) in errors" :key="index">
        <render-error :error="error" />
      </li>
    </ul>

    <p v-if="isDev" class="gl-mt-3 gl-mb-0">
      Have you run a scan locally? See the
      <gl-link :href="$options.readmeUrl">README</gl-link> for details.
    </p>
  </gl-alert>
</template>

<script>
import GlAlert from '@gitlab/ui/src/components/base/alert/alert.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import RenderError from './render_error.vue';

const IS_DEV = process.env.NODE_ENV !== 'production';
const devOnlyOptions = IS_DEV
  ? {
      readmeUrl:
        'https://gitlab.com/gitlab-org/frontend/pajamas-adoption-scanner/-/blob/main/README.md#dashboard',
    }
  : null;

export default {
  name: 'ScanFailedToLoad',
  components: {
    GlAlert,
    GlLink,
    RenderError,
  },
  props: {
    errors: {
      type: Array,
      required: true,
    },
  },
  data() {
    const is404 = this.errors[0].response?.status === 404;

    return {
      isDev: IS_DEV && is404,
    };
  },
  methods: {
    formatError(error) {
      const type = error.type ? `${error.type}: ` : '';
      const shortMessage = error.short_msg ? `${error.short_msg}: ` : '';
      const message = error.long_msg ?? error.message;

      return `${type}${shortMessage}${message}`;
    },
  },
  ...devOnlyOptions,
};
</script>
