<template>
  <gl-chart width="auto" height="auto" :options="options" v-on="$listeners" />
</template>

<script>
import GlChart from '@gitlab/ui/src/components/charts/chart/chart.vue';
import TreeMapTooltip from '~/components/tree_map_tooltip.vue';
import { scanToTreeMapSeries } from '~/lib/treemap';
import { domFromComponent } from '~/lib/dom';

export default {
  name: 'ScanTreeMap',
  components: {
    GlChart,
  },
  props: {
    /**
     * The semgrep JSON scan output.
     */
    scan: {
      type: Object,
      required: true,
    },

    /**
     * What to group nodes by.
     */
    groupBy: {
      type: String,
      required: true,
    },
  },
  computed: {
    options() {
      return {
        textStyle: {
          fontFamily: '"GitLab Sans", sans-serif',
        },
        series: scanToTreeMapSeries(this.scan, { groupBy: this.groupBy }),
        tooltip: {
          formatter(info) {
            return domFromComponent(TreeMapTooltip, { info });
          },
        },
      };
    },
  },
};
</script>
