<template>
  <gl-stacked-column-chart
    width="auto"
    height="auto"
    v-bind="chartProps"
    class="force-responsive-chart"
  />
</template>

<script>
import GlStackedColumnChart from '@gitlab/ui/src/components/charts/stacked_column/stacked_column.vue';
import { historyToStackedColumnChartProps } from '~/lib/history';

export default {
  name: 'ScanHistoryChart',
  components: {
    GlStackedColumnChart,
  },
  props: {
    history: {
      type: Array,
      required: true,
    },
    rules: {
      type: Map,
      required: true,
    },
    componentLabel: {
      type: String,
      required: true,
    },
  },
  computed: {
    chartProps() {
      return {
        option: {
          textStyle: {
            fontFamily: '"GitLab Sans", sans-serif',
          },
        },
        ...historyToStackedColumnChartProps(this.history, this.rules, this.componentLabel),
      };
    },
  },
};
</script>

<style>
/**
 * Hack to make the chart responsive. This is necessary due to the extra
 * div wrapping the chart instance container in GlStackedColumn. ScanTreeMap
 * doesn't need this since it uses a plain GlChart, whose root element *is* the
 * chart instance container.
 */
.force-responsive-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.force-responsive-chart > [_echarts_instance_] {
  flex: 1;
}
</style>
