<template>
  <div class="gl-border-b gl-mb-5 gl-relative">
    <div
      class="gl-display-flex gl-align-items-center gl-gap-3 gl-justify-content-space-between gl-mb-3"
    >
      <h5 class="gl-min-w-0"><gl-truncate :text="details.filename" with-tooltip /></h5>
      <gl-badge v-tooltip="details.message" :variant="details.variant" :icon="details.icon" />
    </div>
    <div v-if="!details.isInfo" class="gl-display-flex gl-align-items-center gl-gap-3">
      Issue:
      <finding-issue-link
        :path="details.path"
        :message="details.message"
        :rule-name="details.ruleName"
        :component-label="details.componentLabel"
        :group="details.group"
        :epic="details.epic"
      />
    </div>

    <div class="gl-display-flex gl-align-items-center gl-gap-3">
      File:
      <gl-link :href="details.url" target="_blank" class="gl-min-w-0"
        ><gl-truncate :text="details.pathWithLine" position="start" with-tooltip
      /></gl-link>
      <copy-button
        label="Copy path to clipboard"
        :text="details.path"
        size="small"
        class="gl-flex-shrink-0"
      />
    </div>

    <div v-if="!details.isInfo">
      Migration guide:
      <migration-guide-link :href="details.epic" />
    </div>

    <mark-lines
      :lines="source.extra.lines"
      :start="source.start"
      :end="source.end"
      class="gl-white-space-pre-wrap gl-bg-gray-50 gl-p-3 gl-mt-3 gl-rounded-base"
    />
  </div>
</template>

<script>
import GlBadge from '@gitlab/ui/src/components/base/badge/badge.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import GlTruncate from '@gitlab/ui/src/components/utilities/truncate/truncate.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import { shortId } from 'shared/rules.js';
import CopyButton from '~/components/copy_button.vue';
import FindingIssueLink from '~/components/finding_issue_link.vue';
import MarkLines from '~/components/mark_lines.vue';
import MigrationGuideLink from '~/components/migration_guide_link.vue';
import { GITLAB_REPO_WEB_URL } from '~/lib/constants';

const severityMap = {
  ERROR: { variant: 'danger', icon: 'status-failed' },
  WARNING: { variant: 'warning', icon: 'warning-solid' },
  INFO: { variant: 'success', icon: 'status-success' },
  DEFAULT: { variant: 'neutral', icon: 'question' },
};

export default {
  name: 'ScanFinding',
  components: {
    CopyButton,
    FindingIssueLink,
    GlBadge,
    GlLink,
    GlTruncate,
    MarkLines,
    MigrationGuideLink,
  },
  directives: {
    tooltip: GlTooltipDirective,
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    source: {
      type: Object,
      required: true,
    },
    commit: {
      type: String,
      required: true,
    },
  },
  computed: {
    details() {
      const { extra, path } = this.source;
      const { group, message, severity } = extra;
      const { line: start } = this.source.start;
      const { line: end } = this.source.end;
      const { componentLabel, epic } = extra.metadata;
      const pathWithLine = start === end ? `${path}#L${start}` : `${path}#L${start}-${end}`;
      const [filename] = this.source.path.split('/').reverse();
      const { icon, variant } = severityMap[severity] ?? severityMap.DEFAULT;

      return {
        componentLabel,
        filename,
        group,
        icon,
        isInfo: severity === 'INFO',
        message,
        epic,
        path,
        pathWithLine,
        ruleName: shortId(this.source.check_id),
        url: `${GITLAB_REPO_WEB_URL}/-/blob/${this.commit}/${pathWithLine}`,
        variant,
      };
    },
  },
};
</script>
