- # ruleid: form-radio-class-haml
  .gl-form-radio.custom-control.custom-radio

- # ruleid: form-radio-custom-implementation-haml
  = form.radio_button(:post, value, formatted_input_options)
  = render_label_with_help_text

.form-check
  - # ruleid: form-radio-custom-implementation-haml
  = radio_button_tag :sync_method, :filter, class: 'form-check-input'
  = label_tag :sync_method_filter, class: 'form-check-label' do
    LDAP user filter

- # ruleid: okay-form-radio-view-component-haml
= render Pajamas::RadioComponent.new(method: :post, value: true, label: 'Option 1')

- # ruleid: okay-form-radio-view-component-haml
= f.gitlab_ui_radio_component :access_level, :auditor,
  s_('AdminUsers|Auditor'),
  radio_options: { disabled: disabled },
  help_text: s_('AdminUsers|Auditors have read-only access to all groups, projects, and users.')

- # ruleid: form-radio-native-haml
  %input{ type: "radio", autocomplete: "off", name: "project[template_project_id]", id: project.name, value: project.id, data: { subgroup_full_path: project.namespace.full_path, target_group_full_path: @target_group&.full_path, subgroup_id: project.namespace_id, template_name: project.name, parent_group_id: @target_group&.id || group.parent_id } }
