<script>
import {
  // ruleid: okay-banner-vue-component
  GlBanner
} from '@gitlab/ui';

export default {
  components: {
    GlBanner
  },
  computed: {
    classes() {
      // ruleid: banner-class-vue
      return ['gl-banner']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: banner-class-vue -->
    <gl-banner>
      I am a good banner
    <!-- ok: banner-class-vue -->
    </gl-banner>
    <!-- ruleid: banner-class-vue -->
    <div class="gl-banner">
      I am a bad banner
    </div>
  </div>
</template>
