- # ruleid: form-select-class-haml
  .gl-form-select

- # ruleid: form-select-custom-implementation-haml
= f.select :provider, values, {}, class: 'form-control'

- # ruleid: form-select-custom-implementation-haml
= select_tag :provider, values, class: "form-control select-control"

- # ruleid: form-select-custom-implementation-haml
  %select.form-control{ name: variable_type_input_name }
    = values
