<script>
// ruleid: okay-tab-vue-component
import { GlTab } from '@gitlab/ui';
// ruleid: okay-tab-vue-component
import { GlTabs } from '@gitlab/ui';

export default {
  components: {
    GlTab,
    GlTabs,
  }
}
</script>
<template>
  <div>
    <gl-tabs>
      <gl-tab title="Tab 1">
        Tab panel 1
      </gl-tab>
      <gl-tab title="Tab 2">
        Tab panel 2
      </gl-tab>
    </gl-tabs>

    <!-- ruleid: bootstrap-tab-vue -->
    <div data-toggle="tab">
      I am a bad tab
    </div>
  </div>
</template>
