  - # ok: card-class-haml
- page_card_attributes issuable.card_attributes
  - # ok: card-class-haml
- page_card_attributes @merge_request.card_attributes

- # ok: card-class-haml
.card-body
- # ok: card-class-haml
.card-header
- # ok: card-class-haml
.card-footer
- # ok: card-class-haml
%h4.card-title
- # ok: card-class-haml
%span.card-badge-text
- # ok: card-class-haml
.card-new-merge-request
- # ok: card-class-haml
.gl-foo.js-token-card

%div
  - # ruleid: card-class-haml
  .card
  - # ruleid: card-class-haml
  .card.links-card
  - # ruleid: card-class-haml
  %div{class: "one card three"}
  - # ruleid: card-class-haml
  .gl-card
  - # ruleid: card-class-haml
  %div{class: 'gl-card'}
  - # ruleid: card-class-haml
  %div(class="gl-card")
  - # ruleid: okay-card-view-component-haml
  = render Pajamas::CardComponent.new

- # ok: card-class-haml
.gl-new-card

- # ruleid: card-class-haml
.gl-card.gl-new-card

- # ok: card-class-haml
%div{ class: 'foo gl-new-card bar' }

- # Note the gl-new-card usage below. Since we don't know what to do with that yet,
- # we want to explicitly ignore it.
- # ruleid: okay-card-view-component-haml
= render Pajamas::CardComponent.new(card_options: { class: 'gl-new-card js-toggle-container' }, header_options: { class: 'gl-new-card-header' }, body_options: { class: 'gl-new-card-body gl-px-0' }) do |c|
