<script>
import {
  // ruleid: okay-card-vue-component
  GlCard
} from '@gitlab/ui';

export default {
  components: {
    GlCard
  },
  computed: {
    classes() {
      // ruleid: card-class-vue
      return ['gl-card']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: card-class-vue -->
    <gl-card>
      I am a good card
    <!-- ok: card-class-vue -->
    </gl-card>
    <!-- ruleid: card-class-vue -->
    <div class="gl-card">
      I am a bad card
    </div>
  </div>
</template>
