<script>
import {
  // ruleid: okay-path-vue-component
  GlPath
} from '@gitlab/ui';

export default {
  components: {
    GlPath
  },
  computed: {
    classes() {
      // ruleid: path-class-vue
      return ['gl-path']
    }
  }
}
</script>
<template>
  <div>
    <!-- ok: path-class-vue -->
    <gl-path>
      I am a good path
    <!-- ok: path-class-vue -->
    </gl-path>
    <!-- ruleid: path-class-vue -->
    <ul class="gl-path-nav">
      <!-- ruleid: path-class-vue -->
      <li class="gl-path-nav-list-item">Step 1</li>
      <!-- ruleid: path-class-vue -->
      <li class="gl-path-nav-list-item">Step 2</li>
    </ul>
  </div>
</template>
