<script>
// ruleid: okay-form-checkbox-vue-component
import { GlFormCheckbox } from '@gitlab/ui';
// ruleid: okay-form-checkbox-vue-component
import { GlFormCheckboxGroup } from '@gitlab/ui';

// ok: form-checkbox-native-vue
//  <input type="checkbox" name="user[interests][]" id="user_interests_vue" value="Vue" checked data-js-name="interests">

export default {
  components: {
    GlFormCheckbox,
    GlFormCheckboxGroup,
  },
  computed: {
    classes() {
      // ruleid: form-checkbox-class-vue
      return ['some-classname', 'gl-form-checkbox', 'foobar'];
    },
  },
};
</script>
<template>
  <div>
    <!-- ok: form-checkbox-class-vue -->
    <gl-form-checkbox-group v-model="options">
      <!-- ok: form-checkbox-class-vue -->
      <gl-form-checkbox v-for="{ description, value } in options" :key="value">
        {{ description }}
      </gl-form-checkbox>
    </gl-form-checkbox-group>

    <!-- ruleid: form-checkbox-class-vue -->
    <div class="gl-form-checkbox">
      This class should not be used outside the GlFormCheckbox component
    </div>

    <!-- ruleid: form-checkbox-native-vue -->
    <input type="checkbox" value="foo" />
  </div>
</template>
