- # ruleid: form-checkbox-class-haml
  .gl-form-checkbox.custom-control.custom-checkbox

- # ruleid: form-checkbox-custom-implementation-haml
  = field.check_box :foo, { label: 'Option name', label_class: 'label-bold' }

.form-check
  %label{ for: "remember_me" }
    - # ruleid: form-checkbox-custom-implementation-haml
    = check_box_tag :remember_me, '1', false, id: 'remember_me'

- # ruleid: okay-form-checkbox-view-component-haml
= render Pajamas::CheckboxComponent.new(method: :post, checked_value: true, label: 'Option 1')

- # ruleid: okay-form-checkbox-view-component-haml
= f.gitlab_ui_checkbox_component :option_enabled, _('Option enabled')

- # ruleid: form-checkbox-native-haml
  %input{ type: "checkbox", name: "project[template_project_id]", id: project.name, value: project.id }

- # ok: form-checkbox-custom-implementation-haml
- check_box_options = {}
