<script>
// ruleid: okay-form-input-group-vue-component
import { GlFormInputGroup } from '@gitlab/ui';

export default {
  components: {
    GlFormInputGroup,
  },
  computed: {
    classes() {
      // ruleid: form-input-group-class-vue
      return ['some-classname', 'gl-form-input-group', 'foobar'];
    },
  },
};
</script>
<template>
  <div>
    <!-- ok: form-input-group-class-vue -->
    <gl-form-input-group>
      I am a good group
    </gl-form-input-group>

    <!-- ruleid: form-input-group-class-vue -->
    <div class="gl-form-input-group">
      This class should not be used outside the GlFormInputGroup component
    </div>
  </div>
</template>
