<script>
import {
  GlButton,
  // ruleid: okay-modal-vue-component
  GlModal
} from '@gitlab/ui';

export default {
  components: {
    GlButton,
    GlModal
  },
  data() {
    return {
      modalId: 'modal-id',
    };
  },
}
</script>
<template>
  <div>
    <gl-modal>
      I am a good modal
    </gl-modal>
    <!-- ruleid: okay-modal-button-vue -->
    <gl-button v-gl-modal="modalId" />
    <!-- ruleid: okay-modal-confirm-vue -->
    <gl-button data-confirm="Confirm text" data-confirm-btn-variant="danger" />
  </div>
</template>
