<script>
import {
  // ruleid: okay-search-vue-components
  GlSearchBoxByClick,
  // ruleid: okay-search-vue-components
  GlSearchBoxByType,
} from '@gitlab/ui';

export default {
  components: {
    GlSearchBoxByClick,
    GlSearchBoxByType,
  },
}
</script>

<template>
  <div>
    <!-- ruleid: search-input-vue -->
    <input
      id="foo"
      v-model="query"
      type="search"
      @input="onInput"
    >

    <!-- ok: search-input-vue -->
    <not-an-input type="search">

    <!-- ok: search-input-vue -->
    <input type="text" placeholder="I am an okay input">
  </div>
</template>
