%div
  - # ruleid: alert-class-haml
  .gl-alert
  - # ruleid: alert-class-haml
  %div{class: "i am a gl-alert too"}
  - # ruleid: alert-callout-class-haml-rb
  .bs-callout
  - # ruleid: alert-callout-class-haml-rb
  .bs-callout.bs-callout-warning
  - # ruleid: okay-alert-view-component-haml
  = render Pajamas::AlertComponent.new
