<script>
// ruleid: okay-filtered-search-vue-component
import { GlFilteredSearch } from '@gitlab/ui';

import {
  // ruleid: okay-filtered-search-vue-component
  GlFilteredSearch,
} from '@gitlab/ui';
</script>

<template>
  <div>
    <!-- ruleid: custom-filtered-search-vue -->
    <div class="filtered-search-input-container" />
    <!-- ruleid: custom-filtered-search-vue -->
    <tokened-input />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <gl-filtered-search />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <gl-filtered-search
      v-model="tokens"
      terms-as-tokens
      @input="onInput"
    />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <filtered-sort-container-root
      :namespace="namespace"
      :tokens="[] /* eslint-disable-line @gitlab/vue-no-new-non-primitive-in-template */"
      :search-input-placeholder="searchInputPlaceholder"
      :sort-options="sortOptions"
      :initial-sort-by="initialSortBy"
      class="gl-flex-grow-1"
      @onFilter="onFilter"
      @onSort="onSort"
    />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <search-and-sort-bar
      :namespace="namespaceId"
      :search-input-placeholder="s__('UsageQuota|Search')"
      @onFilter="onSearch"
    />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <filtered-search-bar
      :namespace="$options.filteredSearchNamespace"
      :tokens="tokens"
      :recent-searches-storage-key="$options.recentSearchesStorageKey"
      :search-input-placeholder="__('Filter reports')"
      :initial-filter-value="initialFilterValue"
      :initial-sort-by="initialSortBy"
      :sort-options="$options.sortOptions"
      data-testid="abuse-reports-filtered-search-bar"
      @onFilter="handleFilter"
      @onSort="handleSort"
    />

    <!-- ruleid: okay-filtered-search-terms-as-tokens-vue -->
    <filtered-search
      :key="filteredSearchKey"
      class="gl-w-full"
      namespace=""
      :tokens="tokens"
      :search-input-placeholder="$options.i18n.search"
      :initial-filter-value="getFilteredSearchValue"
      @onFilter="handleFilter"
    />

    <!-- ok: okay-filtered-search-terms-as-tokens-vue -->
    <gl-filtered-search-token v-bind="{ ...$props, ...$attrs }" v-on="$listeners" />

    <!-- ok: okay-filtered-search-terms-as-tokens-vue -->
    <gl-filtered-search-suggestion
      v-for="(type, index) in $options.PACKAGE_TYPES"
      :key="index"
      :value="type"
    >
  </div>
</template>