// ruleid: custom-filtered-search-haml
.filtered-search-block

// ruleid: custom-filtered-search-haml
= render 'shared/issuable/search_bar', type: :issues

// ruleid: custom-filtered-search-haml
= render 'shared/projects/search_bar', project_tab_filter: project_tab_filter