-# ruleid: badge-class-haml
%span.badge.badge-pill
-# ruleid: badge-class-haml
.badge.badge-warning
-# ruleid: badge-class-haml
%span.gl-badge
-# ruleid: badge-class-haml
%span.badge.badge-info.badge-pill.gl-badge.sm= _('Free')
-# ruleid: badge-class-haml
%span{ class: "badge badge-pill gl-badge sm badge-#{type}" }= yield
-# ruleid: badge-class-haml
- badge_classes = 'badge badge-pill gl-badge'

-# ok: badge-class-haml
.not-a-badge
-# ok: badge-class-haml
_('badge')

-# ruleid: okay-badge-helper-haml
= gl_badge_tag s_('Foo'), variant: :info
